{% extends 'base.html.twig' %}

{% block title %}RIA2 - Dessauges Antoine{% endblock %}

{% block body %}

    <div class="container center">
        
        <h1>CPNV Social Dashboard</h1>

        <div class="row boxed">
            <div class="col-md-9 total-area">
                <div class="center">
                    <span class="count" data-number="{{ total_count }}">{{ total_count }}</span> interactions social
                </div>
            </div>
            <div class="col-md-3 social-area">
                <div class="facebook one-social">
                    <div class="center">
                        <span class="count" data-number="{{ fb_like_count }}">{{ fb_like_count }}</span> likes
                    </div>
                </div>
                <div class="one-social twitter">
                    <div class="center">
                        <span class="count" data-number="{{ twitter_followers_count }}">{{ twitter_followers_count }}</span> followers
                    </div>
                </div>
              <div class="one-social linkedin">
                    <div class="center">
                        <span class="count" data-number="{{ linkedin_followers_count }}">{{ instagram_followers_count }}</span> abonnées
                    </div>
                </div>
                <div class="one-social instagram">
                    <div class="img"></div>
                    <div class="center">
                        <span class="count" data-number="{{ instagram_followers_count }}">{{ instagram_followers_count }}</span> followers
                    </div>
                </div>
            </div>
        </div>
        <div class="row social_add">
            <div class="col-md-3">
                <div class="margin-auto">
                    <div class="fb-like" data-href="https://www.facebook.com/cpnv.ch/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="margin-auto">
                    <a href="https://twitter.com/CPNV_CH?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-3">
                <div class="margin-auto">
                    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: fr_FR</script>
                    <script type="IN/FollowCompany" data-id="15143046"></script>
                </div>
            </div>
            <div class="col-md-3">
                <a href="https://www.instagram.com/cpnv.ch/" target="_blank" class="insta-btn">
                    <img src="img/instagram.png">
                    <span>Follow</span>
                </a>
            </div>
        </div>

    </div>
{% endblock %}

